@using EasyEnglish.Theme.Constants

<div class="@ThemeConstants.CssClasses.ProgressBarContainer">
    <div class="@ThemeConstants.CssClasses.ProgressBarFill" style="width: @(CalculatedProgress)%"></div>
</div>